
<%= form_for(@client) do |f| %>

  <% if @client.errors.any? %>
    Please correct the following errors:
    <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div>
    <p>Grab the URL for a photo of you looking awesome so your stylist knows what you like. Don't worry, you can change it later or put in a celeb's pic if you want to change your 'do.</p>
    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  </div>
  <div>
    <%= f.label :phone_number %><br>
    <%= f.number_field :phone_number %>
  </div>
  <div>
    <%= f.label :birthdate %><br>
    <%= f.date_field :birthdate %>
  </div>

  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
