
<%= form_for([@salon, @stylist]) do |f| %>

  <% if @stylist.errors.any? %>
    Please correct the following errors:
    <ul>
      <% @stylist.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>


  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>
  </div>
  <div>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :male_price %><br>
    <%= f.number_field :male_price %>
  </div>
  <div>
    <%= f.label :female_price %><br>
    <%= f.number_field :female_price %>
  </div>
    <div>
    <%= f.label :day_off %><br>
    <%= f.text_field :day_off %>
  </div>
  <div>
    <%= f.label :starts_work_at %><br>
    <%= f.text_field :starts_work_at %>
  </div>
  <div>
    <%= f.label :ends_work_at %><br>
    <%= f.text_field :ends_work_at %>
  </div>
  <div>
    <%= f.label :birthdate %><br>
    <%= f.date_field :birthdate %>
  </div>

  <div>
    <%= f.label :specialty %><br>
    <%= f.text_field :specialty %>
  </div>
  <div>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  <div>
    <%= f.submit %>
  </div>
<% end %>
