<h1><%= @stylist.name %></h1>
<img src="<%= @stylist.photo_url %>" alt="">

<p>Age: <%= @stylist.age %></p>

<p>Stylii Rating: <%= @rating_average %></p>

<p>Price for male haircuts: <%= @stylist.male_price %></p>


<p>Price for female haircuts: <%= @stylist.female_price %></p>

<p>Specialty: <%= @stylist.specialty %></p>

<% if current_client %>
<p><%= link_to("Book an appointment with #{@stylist.name}", "/appointments/new?stylist_id=#{@stylist.id}") %></p>
<% end %>

<% if current_stylist %>
   <p><%= link_to("Edit your information", edit_stylist_path) %></p>
   <p><%= link_to 'Quit your job', @stylist, method: :delete, data: { confirm: 'Are you sure?' } %> </p>
<% end %>
