<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
  Please correct the following errors:
  <ul>
    <% @appointment.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% if @appointment.start_time.future? %>
<div>
    <p>What when would you like to get a haircut?</p>
    <%= f.label :start_time %>
    <%= f.text_field :user_input %>
    <%= f.label :stylist_id %>
    <%= f.collection_select(:stylist_id, @stylists, :id, :name) %>
    <%= f.hidden_field(:client_id, :value => current_client.id) %>
  </div>
<% else %>

  <div>
    <%= f.label :stylii_rating %>
    <%= f.number_field :stylii_rating %>
  </div>
  <% end %>
  <%= f.submit %>
<% end %>

<%= render "unavailable" %>
